# Ignore virtual environments
.venv/
venv/

# Ignore system files
__pycache__/
*.pyc

# Ignore Streamlit temporary files
.streamlit/

# Ignore other local files
.DS_Store


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# Streamlit cache
.streamlit/
.cache/

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
    